#!/bin/env bash

# This file is meant to override the base cofiguration values.
# All values that can be overridden are found in ./baseconfig-xsetwacom.cfg.
#
# Device: Wacom Intuos BT M
#

# ========================== section devices ===========================
# devices that will be affected by this configuration
DEVICE_HINT_STRING="Wacom Inutos BT"
ALL_DEVICE_IDS=($(get_device_ids "$DEVICE_HINT_STRING"))
PAD_DEVICE_IDS=($(get_pad_device_ids "$DEVICE_HINT_STRING"))
STYLUS_DEVICE_IDS=($(get_stylus_device_ids "$DEVICE_HINT_STRING"))
ERASER_DEVICE_IDS=($(get_eraser_device_ids "$DEVICE_HINT_STRING"))
CURSOR_DEVICE_IDS=($(get_cursor_device_ids "$DEVICE_HINT_STRING"))
TOUCH_DEVICE_IDS=($(get_touch_device_ids "$DEVICE_HINT_STRING"))

# ========================== section pad ===============================

PAD_BUTTON_MAPPINGS+=(
    ["Button 1"]="key +ctrl +alt 1 -ctrl -alt" # script: 10 brushes
    ["Button 2"]="key b"                       # brush tool
    #["Button 2"]="key t"                      # translate
    ["Button 3"]="key r"                       # reset tool
    #["Button 1"]="key +altgr 8 key +altgr 8 key +altgr 8" # increase brush size
    #["Button 2"]="key +altgr 9 key +altgr 9 key +altgr 9" # decrease brush size
    ["Button 8"]="button 8"                    # map to next screen
)

# ========================= section eraser =============================

ERASER_PARAMETERS=()

# ========================= section touch ==============================

TOUCH_PARAMETERS=()

# ======================== section xbindkeys ===========================
# XBINDKEYS_CFG_FILE: corresponding xbindkeys config, see readme.md
declare -g XBINDKEYS_CFG_FILE="krita-intuos-bt_xbindkeys.cfg"
