#!/bin/env bash

# This file is meant to override the base cofiguration values.
# All values that can be overridden are found in ./baseconfig-xsetwacom.cfg.
#
# Device: Wacom Intuos BT M
#

# ========================== section devices ===========================
# devices that will be affected by this configuration
DEVICE_HINT_STRING="Wacom Intuos Pro"
ALL_DEVICE_IDS=($(get_device_ids "$DEVICE_HINT_STRING"))
PAD_DEVICE_IDS=($(get_pad_device_ids "$DEVICE_HINT_STRING"))
STYLUS_DEVICE_IDS=($(get_stylus_device_ids "$DEVICE_HINT_STRING"))
ERASER_DEVICE_IDS=($(get_eraser_device_ids "$DEVICE_HINT_STRING"))
CURSOR_DEVICE_IDS=($(get_cursor_device_ids "$DEVICE_HINT_STRING"))
TOUCH_DEVICE_IDS=($(get_touch_device_ids "$DEVICE_HINT_STRING"))


# ========================== section pad ===============================


declare -A _WHEEL_MODES


_WHEEL_MODES+=(
    # top left ring indicator led = 1
    ["AbsWheelUp1"]="key +shift KP_4"                          # roll/rotate
    ["AbsWheelDown1"]="key +shift KP_6"                        # roll/rotate
    ["AbsWheelUp2"]="key +KP_Add"                              # zoom
    ["AbsWheelDown2"]="key +KP_Subtract"                       # zoom
    ["AbsWheelUp3"]="key +altgr 8 key +altgr 8 key +altgr 8"   # increase brush size
    ["AbsWheelDown3"]="key +altgr 9 key +altgr 9 key +altgr 9" # decrease brush size
    ["AbsWheelUp0"]="key I"                                    # increase opacity
    ["AbsWheelDown0"]="key O"                                  # decrease opacity
    # bottom left ring indicator led = 0
)

# @brief  ... works with USB and Bluetooth (xserver-xorg-input-wacom 1:0.39.0-0ubuntu1)
# @input  ... nothing
# @stdout ... number of active wheel LED, or 0 on error
# @return ... $?
function get_active_led_nr()
{
    # TODO: find a more accurate way from $DEVICE_HINT_STRING via USB VID:PID to /sys/module/wacom/drivers/hid\:wacom/XXX.XXX.XXX
    local led_brightness=($(cat /sys/module/wacom/drivers/hid\:wacom/*/input/input*/input*\:\:wacom-0.*/brightness 2> /dev/null))

    for nr in "${!led_brightness[@]}" ; do
        if [ "x${led_brightness[$nr]}" != "x0" ] ; then
            echo "$nr"
            return
        fi
    done
    echo "0"
}

_ACTIVE_LED_NR=$(get_active_led_nr)
PAD_PARAMETERS+=(
    ["AbsWheelUp"]="${_WHEEL_MODES[AbsWheelUp$_ACTIVE_LED_NR]}"     # touch ring on rotate left
    ["AbsWheelDown"]="${_WHEEL_MODES[AbsWheelDown$_ACTIVE_LED_NR]}" # touch ring on rotate right
)


PAD_BUTTON_MAPPINGS+=(
    # top button
    ["Button 1"]="key +ctrl z"      # undo
    ["Button 2"]="key shift"        # Shift
    ["Button 3"]="key ctrl"         # Control
    ["Button 8"]="key f"            # tool radius
    # 4th button

    # touch ring button
    ["Button 13"]="button 10"       # toggle modes

    # 5th button
    ["Button 9"]="key e"            # toggle brush mode: normal/erase
    ["Button 10"]="key KP_1 +shift c key" # reset zoom + rotation
    ["Button 11"]="key q" # quick favourites
    ["Button 12"]="button 12"       # map to next screen
    # bottom button
)

# ========================== section stylus ============================
# parameters will be applied to stylus devices

# supported parameters as listed by "xsetwacom --list parameters"
declare -g -A STYLUS_PARAMETERS
STYLUS_PARAMETERS=(
    ["PressureCurve"]="40 0 40 100"  # start: sensitive, end: low pressure
)

# ======================== section xbindkeys ===========================
# XBINDKEYS_CFG_FILE: always point to same config file
XBINDKEYS_CFG_FILE="blender-intuos-pro-sculpting_xbindkeys.cfg"
