#!/bin/env bash

# This file is meant to override the base cofiguration values.
# All values that can be overridden are found in ./baseconfig-xsetwacom.cfg.
#
# Device: Wacom Intuos BT M
#

# ========================== section devices ===========================
# devices that will be affected by this configuration
DEVICE_HINT_STRING="Wacom Intuos Pro"
ALL_DEVICE_IDS=($(get_device_ids "$DEVICE_HINT_STRING"))
PAD_DEVICE_IDS=($(get_pad_device_ids "$DEVICE_HINT_STRING"))
STYLUS_DEVICE_IDS=($(get_stylus_device_ids "$DEVICE_HINT_STRING"))
ERASER_DEVICE_IDS=($(get_eraser_device_ids "$DEVICE_HINT_STRING"))
CURSOR_DEVICE_IDS=($(get_cursor_device_ids "$DEVICE_HINT_STRING"))
TOUCH_DEVICE_IDS=($(get_touch_device_ids "$DEVICE_HINT_STRING"))




# ========================== section pad ===============================

declare -A _WHEEL_MODES


_WHEEL_MODES+=(
    ["AbsWheelUp0"]="key +altgr 8 key +altgr 8 key +altgr 8"   # increase brush size
    ["AbsWheelDown0"]="key +altgr 9 key +altgr 9 key +altgr 9" # decrease brush size
    ["AbsWheelUp1"]="key I"                                    # increase opacity
    ["AbsWheelDown1"]="key O"                                  # decrease opacity
    ["AbsWheelUp2"]="key +plus"                                # zoom
    ["AbsWheelDown2"]="key +minus"                             # zoom
    ["AbsWheelUp3"]="key +ctrl 8"                              # rotate
    ["AbsWheelDown3"]="key +ctrl 9 ]"                          # rotate
)


# TODO: this weak command may not work with muliple devices
# TODO: find a more accurate way from $DEVICE_HINT_STRING via USB VID:PID to .../wacom_led/status_led0_select
_ACTIVE_LED_NR=$(cat /sys/bus/hid/drivers/wacom/*/wacom_led/status_led0_select)

PAD_PARAMETERS+=(
    ["AbsWheelUp"]="${_WHEEL_MODES[AbsWheelUp$_ACTIVE_LED_NR]}"     # touch ring rotate left
    ["AbsWheelDown"]="${_WHEEL_MODES[AbsWheelDown$_ACTIVE_LED_NR]}" # touch ring rotate right
)


PAD_BUTTON_MAPPINGS+=(
    ["Button 1"]="11"  # top button
    ["Button 2"]="12"  # 2nd button
    ["Button 3"]="13"  # 3rd button
    ["Button 8"]="14"  # 4th button
    
    ["Button 9"]="15"  # 5th button
    ["Button 10"]="16" # 6th button
    ["Button 11"]="17" # 7th button
    ["Button 12"]="18" # bottom button

    ["Button 13"]="10" # touch ring button
)


# ======================== section xbindkeys ===========================

XBINDKEYS_CFG_FILE="krita-intuos-pro_xbindkeys.cfg"
