#!/bin/env bash

# This file is meant to override the base cofiguration values.
# All values that can be overridden are found in ./baseconfig-xsetwacom.cfg.
#
# Device: Wacom Intuos M
#

# ========================== section pad ===============================

PAD_BUTTON_MAPPING+=(
    ["Button 1"]="key b" # "brush"
    ["Button 2"]="key t" # "translate"
    #["Button 1"]="key +altgr 8 key +altgr 8 key +altgr 8" # increase brush size
    #["Button 2"]="key +altgr 9 key +altgr 9 key +altgr 9" # decrease brush size
    ["Button 3"]="13"    # intercepted with xbindkeys
    ["Button 8"]="14"    # intercepted with xbindkeys
)


# ======================== section xbindkeys ===========================

declare -g XBINDKEYS_CFG_FILE="krita-xbindkeys.cfg"
